@media only screen and (max-width: 500px) {
    #txt_nombre {
        margin-top: 0px !important;
    }

    #txt_horas_jornada {
        margin-top: 0px !important;
    }
}

@media only screen and (min-width: 500px) {
    #txt_nombre {
        margin-top: -2px !important;
    }

    #txt_horas_jornada {
        margin-top: -2px !important;
    }
}
