.root---2aZJk {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%
}
.root---3ZcDg {
    z-index: 1500;
    background: rgba(33, 34, 34, .96);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    left: 0;
    top: 0;
    color: #888
}
.inner---qh8IO {
    position: relative;
    width: 100vw;
    padding: 20px 20px 0
}
.header---25ZR1 {
    display: block;
    width: 100%
}
.title---voAgu {
    display: inline-block;
    font-weight: 100;
    vertical-align: middle;
    color: #f2f2f2;
    font-size: 14px;
    line-height: 1em;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif
}
.exit---3SsW8 {
    display: block;
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer
}
.iconFill---2TaXY {
    fill: #fff
}
.exit---3SsW8:focus .iconFill---2TaXY {
    fill: #ccc
}
@media (min-width: 630px) {
    .inner---qh8IO {
        padding: 0 60px 0 116px
    }
    .header---25ZR1 {
        height: 70px;
        padding: 7px 0 0
    }
    .title---voAgu {
        margin: 18px 0 0
    }
    .exit---3SsW8 {
        margin-top: 30px
    }
}
@media (min-width: 1600px) {
    .inner---qh8IO {
        position: absolute;
        left: 50%;
        right: 50%;
        margin-left: -580px;
        padding-left: 56px;
        width: 1380px
    }
}
.root---1kBvU {
    display: block;
    height: 24px;
    width: 24px
}
.fill---207DA {
    fill: #aaa
}
.stroke---1k0QN {
    stroke: #aaa
}
.root---3c0hO {
    position: relative
}
.sr-only---3xnlU {
    height: 0;
    width: 0;
    position: absolute;
    top: -50000px
}
.input---2xxQr {
    position: relative;
    top: -6px;
    left: 0;
    width: 92%;
    border: none;
    padding: 0 0 5px;
    outline: none;
    background: none;
    white-space: pre-wrap!important;
    word-wrap: break-word;
    color: #f2f2f2;
    overflow: hidden;
    font-size: 36px;
    line-height: 100%;
    font-weight: 400;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
}
.input---2xxQr::-ms-clear {
    display: none
}
.inputSuggestion---DobyN {
    position: absolute;
    color: #888
}
@media (min-width: 630px) {
    .input---2xxQr {
        width: 84%;
        font-size: 70px;
        line-height: 83px
    }
}
.root---2Sl-H {
    list-style: none;
    display: block;
    margin: 16px 0 0
}
.item---1G7R4 {
    display: block;
    margin: 0 0 20px;
    padding: 0
}
.link---xEtC0 {
    color: #888;
    font-size: 24px;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none
}
.linkActive---3UokK {
    color: #f2f2f2
}
.link---xEtC0:focus,
.link---xEtC0:hover {
    color: #f2f2f2;
    outline: none
}
@media (min-width: 630px) {
    .root---2Sl-H {
        margin: 40px 0 0;
        padding: 0 0 20px 7px
    }
}
:root {
    --iconFill: #aaa;
    --iconStroke: #aaa;
    --iconHeight: 24px;
    --iconWidth: 24px
}
.root---1kBvU {
    display: block;
    height: var(--iconHeight);
    width: var(--iconWidth)
}
.fill---207DA {
    fill: var(--iconFill)
}
.stroke---1k0QN {
    stroke: var(--iconStroke)
}
.root---2MOWT {
    width: 60px;
    height: 62px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.root---2MOWT:active,
.root---2MOWT:focus,
.root---2MOWT:hover {
    outline: none;
    background-color: #555
}
.root---2MOWT:active .iconFill---2jYTh,
.root---2MOWT:focus .iconFill---2jYTh,
.root---2MOWT:hover .iconFill---2jYTh {
    fill: #fff
}
.root---2CZyk {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    border-right: 1px solid #181818;
    z-index: 960;
    background-color: #222;
    color: #aaa;
    overflow: hidden;
    transition: width .15s ease-in-out, box-shadow .15s ease-in-out
}
.rootExpanded---ji085 {
    width: 300px;
    box-shadow: 50px 0 100px rgba(0, 0, 0, .8)
}
.outer---3ZBMH {
    position: relative;
    top: 0;
    left: 0;
    height: calc(100vh - 62px);
    width: 100%
}
.frame---2qdlq {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.content---g4zrT {
    padding-bottom: 50px
}
@media (min-width: 630px) {
    .root---2CZyk {
        width: 60px
    }
    .rootExpanded---ji085 {
        width: 220px
    }
}
@media (min-width: 1600px) {
    .root---2CZyk,
    .rootExpanded---ji085 {
        left: calc((100% - 1600px) / 2);
        width: 220px;
        box-shadow: none
    }
}
:root {
    --fontRegular: "Gotham SSm A", "Gotham SSm B", sans-serif
}
:root {
    --headerNavHeight: 62px;
    --headerNavBorderBottomWidth: 1px;
    --headerNavZIndex: 123
}
:root {
    --sideNavPaddingHorz: 18px;
    --sideNavWidthMobile: 0;
    --sideNavWidthDesktop: 60px;
    --sideNavWidthMobileExpanded: 300px;
    --sideNavWidthDesktopExpanded: 220px
}
.root---5lDdo {
    display: block;
    line-height: var(--headerNavHeight);
    margin-left: var(--sideNavPaddingHorz);
    letter-spacing: .15em;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    font-family: var(--fontRegular);
    transition: all .15s ease-in-out
}
.root---2eugK {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 62px;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818
}
.rootExpanded---6dul2 {
    width: 220px
}
.link---10T1j {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0 18px;
    text-decoration: none;
    outline: none
}
.link---10T1j:focus,
.link---10T1j:hover {
    color: #fff;
    text-decoration: none
}
.icon---3OCjk {
    display: block;
    height: 24px;
    width: 24px
}
.iconFill---1kWqH {
    fill: #fff
}
.title---3un-7 {
    opacity: 0;
    transform: translateX(-10px)
}
.link---10T1j:focus .title---3un-7 {
    color: #ccc
}
.rootExpanded---6dul2 .title---3un-7 {
    opacity: 1;
    transform: translateX(0)
}
@media (min-width: 1600px) {
    .root---2eugK {
        width: 220px
    }
    .title---3un-7 {
        opacity: 1;
        transform: translateX(0)
    }
}
.root---3XOim {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-62px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 18px;
    border: 0;
    overflow: hidden;
    color: #fff;
    background: #555;
    z-index: 1600;
    outline: none;
    opacity: 0;
    transition: transform .15s ease-in-out
}
.rootExpanded---1MZ_j:focus {
    opacity: 1;
    transform: translateY(0)
}
.label---2tzjG {
    display: inline-block;
    margin-right: 4px
}
.icon---2JwcP {
    display: inline-block;
    width: 24px;
    height: 24px
}
.iconFill---1UW03 {
    fill: #fff
}
.root---5lDdo {
    display: block;
    line-height: 62px;
    margin-left: 18px;
    letter-spacing: .15em;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    transition: all .15s ease-in-out
}
:root {
    --colorText: #2d2d2d;
    --colorTextLight: #aaa;
    --colorTextLighter: #f2f2f2;
    --colorUiBg: #222;
    --colorUiBgLight: #555;
    --colorUiBgLighter: #aaa;
    --colorUiBgHover: #363636;
    --colorBorder: #181818
}
.link---3BuPZ {
    display: block;
    width: 100%;
    font-weight: 300;
    outline: none
}
.link---3BuPZ,
.link---3BuPZ:active,
.link---3BuPZ:focus,
.link---3BuPZ:hover {
    text-decoration: none
}
.linkIcon---2bym0 {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: -2px 9px 0 -3px;
    vertical-align: middle
}
.linkList---pAmqK {
    padding: 3px 0
}
.linkList---pAmqK:last-child {
    margin-top: 12px;
    padding: 16px 0;
    border-top: 1px solid #181818
}
.link---2cfw1 {
    padding: 0 18px;
    line-height: 30px;
    color: #aaa
}
.link---2cfw1:active,
.link---2cfw1:focus,
.link---2cfw1:hover {
    color: #fff
}
.linkIconFill---2Is03 {
    fill: #aaa
}
.link---2cfw1:active .linkIconFill---2Is03,
.link---2cfw1:focus .linkIconFill---2Is03,
.link---2cfw1:hover .linkIconFill---2Is03 {
    fill: #fff
}
.link---3BuPZ {
    display: block;
    width: 100%;
    font-weight: 300;
    outline: none
}
.link---3BuPZ,
.link---3BuPZ:active,
.link---3BuPZ:focus,
.link---3BuPZ:hover {
    text-decoration: none
}
.linkIcon---2bym0 {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: -2px 9px 0 -3px;
    vertical-align: middle
}
.list---cbxy7 {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s ease-in-out
}
.listExpanded---3Hm9M {
    max-height: 1000px
}
.link---DxcJ0 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 300px;
    padding: 0 18px;
    cursor: pointer;
    color: #aaa;
    outline: none;
    transition: all .15s ease-in-out;
    text-decoration: none
}
.linkActive---3LWST {
    color: #f05a28
}
.icon---1he1r {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 18px
}
.iconFill---2zsU4 {
    fill: #aaa;
    transition: all .15s ease-in-out
}
.link---DxcJ0:focus,
.link---DxcJ0:hover {
    background: #2b2b2b;
    text-decoration: none
}
.link---DxcJ0:focus .iconFill---2zsU4,
.link---DxcJ0:hover .iconFill---2zsU4 {
    fill: #fff
}
.linkActive---3LWST .iconFill---2zsU4 {
    fill: #f05a28
}
.label---Ce9-Y {
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    color: #aaa;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    transform: translate(-10px);
    transition: color .15s ease-in-out, opacity .15s ease-in-out, transform .15s ease-in-out
}
.rootExpanded---2QHd4 .label---Ce9-Y {
    opacity: 1;
    transform: translateX(0)
}
.link---DxcJ0:focus .label---Ce9-Y,
.link---DxcJ0:hover .label---Ce9-Y {
    color: #fff
}
.linkActive---3LWST .label---Ce9-Y {
    color: #f05a28
}
#codeschool:hover .iconFill---2zsU4 {
    fill: #4cadc0
}
#codeschool:hover .label---Ce9-Y {
    color: #4cadc0
}
@media (min-width: 630px) {
    .link---DxcJ0 {
        width: 220px
    }
}
.titleContainer---2lC3j {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 4px;
    margin: 14px 0;
    line-height: 32px;
    padding: 0 18px;
    overflow: hidden;
    font-size: 12px;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    white-space: nowrap;
    color: #fff;
    background: #363636;
    transition: margin .15s ease-in-out, height .15s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid #181818
}
.titleContainerExpanded---2Mit2 {
    margin: 0;
    height: 32px
}
.titleContainerExpanded---2Mit2:hover {
    background-color: #555;
    transition: background-color .15s
}
.title---Ba0W4 {
    opacity: 0;
    translateX: -10px;
    transition: all .15s ease-in-out;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0
}
.titleContainerExpanded---2Mit2 .title---Ba0W4 {
    opacity: 1;
    translateX: 0
}
.arrow---3mHMT {
    visibility: hidden;
    margin-left: auto;
    width: 10px;
    transform: rotate(180deg)
}
.arrowExpanded---1UA6z {
    transform: rotate(0deg)
}
.titleContainer---2lC3j:hover .arrow---3mHMT {
    visibility: visible
}
.arrowFill---rwRmT {
    fill: #ccc
}
:root {
    /* --profileLinkBorderWidthHorz:1px; */
    /* --profileLinkPaddingHorz:20px; */
    
    --profileLinkAvatarWidth: 39px;
    /* --profileLinkAvatarMarginLeft:10px; */
    
    --profileLinkTextWidth: 210px;
}
.link---1a3R0,
.root---3iTWd {
    transition: background .15s ease-in-out
}
.link---1a3R0 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    outline: none
}
.link---1a3R0:focus,
.link---1a3R0:hover {
    background: var(--colorUiBgHover);
    text-decoration: none
}
.body---2Bd8I {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;
    margin-bottom: 0;
    font-family: var(--fontRegular)
}
.text---Q181U {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: var(--profileLinkTextWidth)
}
.firstName---3WiEb {
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 3px
}
.firstName---3WiEb,
.link---1a3R0:hover .firstName---3WiEb {
    color: var(--colorTextLighter)
}
.email---1vkoh {
    font-size: 11px;
    line-height: 1.2em;
    color: #888;
    transition: color .15s ease-in-out
}
.link---1a3R0:hover .email---1vkoh {
    color: #888
}
.avatar---3rQDU {
    height: var(--profileLinkAvatarWidth);
    width: var(--profileLinkAvatarWidth);
    border-radius: 50%;
    background-size: cover
}
.root---RpvyJ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
    border-top: 1px solid #181818;
    border-bottom: 1px solid #181818;
    margin: 15px 0
}
.rootOverride---1XfGM {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}
.avatarOverride---1g_oW {
    height: 24px!important;
    width: 24px!important;
    margin-right: 18px;
    border: 1px solid #fff
}
.linkOverride---29Oyg {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 18px
}
.emailOverride---12W1_,
.firstNameOverride---1k3kP {
    text-align: left
}
.link---1a3R0,
.root---3iTWd {
    transition: background .15s ease-in-out
}
.link---1a3R0 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    outline: none
}
.link---1a3R0:focus,
.link---1a3R0:hover {
    background: #363636;
    text-decoration: none
}
.body---2Bd8I {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    text-align: right;
    margin-bottom: 0;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif
}
.text---Q181U {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 210px
}
.firstName---3WiEb {
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    color: #f2f2f2;
    margin-bottom: 3px
}
.link---1a3R0:hover .firstName---3WiEb {
    color: #f2f2f2
}
.email---1vkoh {
    font-size: 11px;
    line-height: 1.2em;
    color: #888;
    transition: color .15s ease-in-out
}
.link---1a3R0:hover .email---1vkoh {
    color: #888
}
.avatar---3rQDU {
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-size: cover
}
.root---2budh {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    visibility: hidden
}
.rootExpanded---3nleM {
    visibility: visible
}
.inner---eATkm {
    height: calc(100% - 6px);
    background: #555
}
.handle---1SIaq,
.inner---eATkm {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    border: 4px solid #222;
    border-radius: 8px
}
.handle---1SIaq {
    background: #aaa;
    height: 40px
}
.root---u5wpL {
    position: fixed;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 62px;
    background-color: #222;
    transition: padding .15s ease-in-out;
    transition: width .15s ease-in-out;
    z-index: 123;
    border-bottom: 1px solid #181818;
    width: 100%
}
.searchPlaceholder---3Dp0- {
    width: 60px
}
@media (min-width: 630px) {
    .root---u5wpL {
        padding-left: 60px
    }
}
@media (min-width: 1600px) {
    .root---u5wpL {
        width: 1600px;
        left: 50%;
        right: 50%;
        margin-left: -800px;
        padding-left: 220px
    }
}
.root---3Nlfz {
    width: 60px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer
}
.root---3Nlfz:active,
.root---3Nlfz:focus,
.root---3Nlfz:hover {
    outline: none;
    background-color: #555
}
.iconRoot---2uLmA {
    margin: 0 auto
}
.root---3Nlfz:active .iconFill---29YPG,
.root---3Nlfz:focus .iconFill---29YPG,
.root---3Nlfz:hover .iconFill---29YPG {
    fill: #fff
}
.root---1TSzB {
    position: relative;
    display: block
}
.btn---3An8A {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
    width: 60px;
    height: 61px;
    text-align: center;
    border-right: 1px solid #181818;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background .15s ease-in-out;
    outline: none
}
.btn---3An8A:focus,
.btn---3An8A:hover,
.btnOpen---sllOS {
    background: #363636
}
.btnOpen---sllOS:after {
    content: " ";
    height: 0;
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 1001;
    width: 0;
    top: 44px;
    border: 10px solid transparent;
    border-bottom-color: #fff
}
.moreIcon---cIygD {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer
}
.moreIconFill---35QXG {
    transition: fill .15s ease-in-out
}
.btn---3An8A:focus .moreIconFill---35QXG,
.btn---3An8A:hover .moreIconFill---35QXG,
.btnOpen---sllOS .moreIconFill---35QXG {
    fill: #fff
}
.dropdown---3-sYa {
    position: absolute;
    margin-right: 0;
    top: 62px;
    right: 0;
    display: block;
    width: 230px;
    overflow: hidden;
    z-index: 1000;
    background-color: #fff;
    border-radius: 3px;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    font-size: 14px;
    text-align: left
}
.dropdownScrollContainer---1XS4P {
    max-height: calc(100vh - 62px - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar
}
.dropdownScrollContainer---1XS4P::-webkit-scrollbar {
    display: none
}
.background---20ePC {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0
}
.linkList---1jiPf {
    border-bottom: 1px solid #d8d8d8;
    padding: 7px 0
}
.linkList---1jiPf:last-child {
    border-bottom: none
}
.link---1_4rI {
    padding: 3px 20px;
    line-height: 24px;
    color: #2d2d2d
}
.link---1_4rI:active,
.link---1_4rI:focus,
.link---1_4rI:hover {
    color: #2d2d2d;
    background-color: #f2f2f2
}
.linkIconFill---oshAH {
    fill: #000
}
.root---XdVUf {
    display: block;
    margin-left: auto;
    border-right: 1px solid #181818
}
.rootOverride---1xlnH {
    margin-left: 15px
}
.linkOverride---27bFd {
    height: 61px;
    padding: 0 20px
}
.avatarOverride---16KFG {
    margin-left: 10px
}
.root---16-ZO {
    display: block;
    position: relative;
    margin-left: 12px;
    height: 36px;
    width: 455px
}
.form---2TNgv {
    margin: 0
}
.label---23L9A {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin: 6px 10px;
    cursor: pointer
}
.input---VV7Gt,
.label---23L9A {
    position: absolute;
    top: 0;
    left: 0
}
.input---VV7Gt {
    height: 100%;
    width: calc(100% - 24px + 10px * 2 + 6px);
    padding: 0 10px 0 44px;
    line-height: 36px;
    outline: none;
    font-size: 14px;
    background-color: #363636;
    color: #aaa;
    border: none;
    border-radius: 2px;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    -webkit-appearance: none
}
.root---3GrT9 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
    background: none;
    border: 0
}
.root---3GrT9:active,
.root---3GrT9:focus,
.root---3GrT9:hover {
    outline: none;
    background-color: #555
}
.root---3GrT9:active .iconFill---2ycZE,
.root---3GrT9:focus .iconFill---2ycZE,
.root---3GrT9:hover .iconFill---2ycZE {
    fill: #fff
}
/*# sourceMappingURL=prism-12.1.0.min.css.map*/